body {
  background-color: #b0d899;
  font-family: georgia;
  padding-left: 10%;
  padding-right: 10%;
}

.underline {
  text-decoration: underline;
}

@keyframes about {
  0% {
    background-color: #b0d899;
    color: #b0d899;
    border: 2px solid #b0d899;
  }
  100% {
    background-color: #fff0c0;
    color: #000000;
    border: 2px solid #645a3c;
  }
}

.about {
  animation-duration: 2s;
  animation-name: about;
  width: 26.5%;
  padding: 10px;
  margin: 10px;
  float: left;
  background-color: #fff0c0;
  border: 2px solid #645a3c;
}

@keyframes hobbies {
  0% {
    background-color: #b0d899;
    color: #b0d899;
    border: 2px solid #b0d899;
  }
  100% {
    background-color: #8be9ca;
    color: #000000;
    border: 2px solid #366455;
  }
}

.hobbies {
  animation-duration: 2s;
  animation-delay: 4s;
  animation-fill-mode: backwards;
  animation-name: hobbies;
  width: 26.5%;
  padding: 10px;
  margin-top: 10px;
  margin-right: 17px;
  height: 270px;
  float: right;
  background-color: #8be9ca;
  border: 2px solid #366455;
}

@keyframes projects {
  0% {
    background-color: #b0d899;
    color: #b0d899;
    border: 2px solid #b0d899;
  }
  100% {
    background-color: #99bd84;
    color: #000000;
    border: 2px solid #495e3d;
  }
}

.projects {
  animation-duration: 2s;
  animation-delay: 8s;
  animation-fill-mode: backwards;
  animation-name: projects;
  width: 56%;
  padding: 10px;
  margin: 10px;
  float: left;
  background-color: #99bd84;
  border: 2px solid #495e3d;
}

@keyframes link {
  0% {
    color: #b0d899;
  }
  100% {
    color: #0000ff;
  }
}

a {
  animation-duration: 2s;
  animation-delay: 8s;
  animation-fill-mode: backwards;
  animation-name: link;
  color: #0000ff;
}

li {
  margin-top: 15px;
}

img {
  float: right;
  margin: 10px;
  border: 2px solid #366455;
}

h1 {
  text-align: center;
  font-size: 60px;
}