body {
  background-color: #b0d899;
  font-family: georgia;
  padding-left: 10%;
  padding-right: 10%;
}

/* .anim {
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
   margin-left: -250%;
   width: 100%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
} */

.underline {
  text-decoration: underline;
}

@keyframes color {
  0% {
    background-color: #b0d899;
    color: #b0d899;
    border: 2px solid #b0d899;
  }
  100% {
    background-color: #fff0c0;
    color: #000000;
    border: 2px solid #645a3c;
  }
}

.about {
  animation-duration: 3s;
  animation-name: color;
  width: 26.5%;
  padding: 10px;
  margin: 10px;
  float: left;
  background-color: #fff0c0;
  border: 2px solid #645a3c;
}

.hobbies {
  width: 26.5%;
  padding: 10px;
  margin-top: 10px;
  margin-right: 17px;
  height: 270px;
  float: right;
  background-color: #8be9ca;
  border: 2px solid #366455;
}

.projects {
  width: 56%;
  padding: 10px;
  margin: 10px;
  float: left;
  background-color: #99bd84;
  border: 2px solid #495e3d;
}

li {
  margin-top: 20px;
}

img {
  float: right;
  margin: 10px;
  border: 2px solid #366455;
}

h1 {
  text-align: center;
  font-size: 60px;
}